.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    position: relative;
    z-index: 1;
    width: min(1280px, 100vw);
    margin-right: auto;
    margin-left: auto;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    &__links {
        display: flex;
        gap: 2rem;

        .navbar__link {
            font-size: 1rem;
            text-decoration: none;
            color: #333;
            padding: 0.5rem;
            position: relative;
            transition: all 0.3s ease;
            z-index: 2;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 120%;
                height: 10px;
                background-color: rgba(255, 68, 0, 0.7);
                filter: blur(10px);
                border-radius: 50%;
                opacity: 0;
                transition: all 0.3s ease;
                z-index: -1;
            }

            &:hover::after {
                opacity: 1;
                width: 150%;
                height: 12px;
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;
        font-size: 1rem;

        .navbar__user-name {
            color: #333;
        }
    }
}